---
---
<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com/2.2.19/tailwind.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <title>About us</title>
  </head>
  <body>
    <div
    class="flex justify-center items-center bg-gray-800 sm:w-full md:h-full md:w-full lg:w-full"></div>
  </div>

  <div
    class="absolute top-0 right-0 mt-4 mr-4 flex-wrap justify-end flex flex-col sm:flex-row sm:items-center"
  >
    <a href="https://www.instagram.com" class="ml-2 sm:ml-0 mb-2 sm:mb-0">
      <i class="fab fa-instagram text-white text-lg"></i>
    </a>
    <a href="https://www.facebook.com" class="ml-2 sm:ml-4 mb-2 sm:mb-0">
      <i class="fab fa-facebook text-white text-lg"></i>
    </a>
    <a href="https://twitter.com" class="ml-2 sm:ml-4 sm:mr-4 mb-2 sm:mb-0">
      <i class="fab fa-twitter text-white text-lg"></i>
    </a>
  </div> <div
  class="flex justify-center items-center bg-gray-800 sm:w-full md:h-full md:w-full lg:w-full"
>
<a href="index.html">
  <img src="logo.jpeg" alt="logo del blog" class="h-40 w-64 rounded-md my-6" />
</a>
</div>

<div class="absolute top-0 right-0 mt-4 mr-4 flex-wrap justify-end flex flex-col sm:flex-row sm:items-center"
>
  <a href="https://www.instagram.com/cronachediresistenzaaa/" class="ml-2 sm:ml-0 mb-2 sm:mb-0">
    <i class="fab fa-instagram text-white text-lg"></i>
  </a>
  <a href="https://www.facebook.com/profile.php?id=100094044757182" class="ml-2 sm:ml-4 mb-2 sm:mb-0">
    <i class="fab fa-facebook text-white text-lg"></i>
  </a>
  <a href="https://twitter.com/Alberto2040213" class="ml-2 sm:ml-4 sm:mr-4 mb-2 sm:mb-0">
    <i class="fab fa-twitter text-white text-lg"></i>
  </a>
</div>
<nav class="bg-gray-300 sm:w-full lg:w-full">
  <div class="container mx-auto px-4 sm:px-6 sm:py-0 lg:px-8">
    <div class="flex items-center justify-between">
      <div class="flex-auto items-center sm:mx-auto sm:w-fit">
        <div class="relative inline-block sm:hidden">
          <button class="menu-btn text-gray-900 hover:text-white font-semibold lg:text-lg sm:mx-auto sm:text-xs md:text-lg">
            Menu
            <svg class="w-4 h-4 inline-block ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M6 9l6 6 6-6" />
            </svg>
          </button>
          <div class="absolute hidden text-gray-900 bg-white mt-2 py-2 w-32 rounded-lg shadow-lg z-10" id="mobile-menu">
            <a href="index.html" class="block px-4 py-2 hover:bg-gray-100">Home</a>
            <div class="group relative inline-block">
              <button class="submenu-btn block px-4 py-2 hover:bg-gray-100">News
                <svg class="w-4 h-4 inline-block ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M6 9l6 6 6-6" />
                </svg>
              </button>
              <div class="absolute hidden bg-white text-gray-900 mt-2 py-2 w-32 rounded-lg shadow-lg z-10 submenu" id="news-submenu">
                <a href="sport.html" class="block px-4 py-2 hover:bg-gray-100">Sport</a>
                <a href="musica.html" class="block px-4 py-2 hover:bg-gray-100">Musica</a>
                <a href="cinema.html" class="block px-4 py-2 hover:bg-gray-100">Cinema</a>
              </div>
            </div>
            <a href="contattaci.html" class="block px-4 py-2 hover:bg-gray-100">Contattaci</a>
            <a href="about.html" class="block px-4 py-2 hover:bg-gray-100">About</a>
          </div>
        </div>
        <div class="hidden sm:flex">
          <a href="index.html" class="mx-4 text-gray-900 hover:text-white font-semibold lg:text-lg sm:mx-auto sm:text-xs md:text-lg">Home</a>
          <div class="group relative inline-block">
            <button class="submenu-btn mx-4 text-gray-900 hover:text-white font-semibold lg:text-lg sm:mx-auto sm:text-xs md:text-lg">News
              <svg class="w-4 h-4 inline-block ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M6 9l6 6 6-6" />
              </svg>
            </button>
            <div class="absolute hidden bg-white text-gray-900 mt-2 py-2 w-32 rounded-lg shadow-lg z-10 submenu" id="news-submenu">
              <a href="sport.html" class="block px-4 py-2 hover:bg-gray-100">Sport</a>
              <a href="musica.html" class="block px-4 py-2 hover:bg-gray-100">Musica</a>
              <a href="cinema.html" class="block px-4 py-2 hover:bg-gray-100">Cinema</a>
            </div>
          </div>
          <a href="contattaci.html" class="mx-4 text-gray-900 hover:text-white font-semibold lg:text-lg sm:mx-auto sm:text-xs md:text-lg">Contattaci</a>
          <a href="about.html" class="mx-4 text-gray-900 hover:text-white font-semibold lg:text-lg sm:mx-auto sm:text-xs md:text-lg">About</a>
        </div>
      </div>
      <div class="flex items-center">
        <a href="accesso.html" class="bg-gray-500 text-white mr-4 hover:bg-gray-800 font-semibold my-3 py-2 px-4 rounded sm:text-xs">Log-in</a>
        <a href="registrazione.html" class="bg-blue-600 hover:bg-blue-800 text-white font-semibold my-3 py-2 px-4 rounded sm:text-xs bg-gradient-to-r from-blue-500 to-blue-700">Sign-in</a>
      </div>
    </div>
  </div>
</nav>
    <div class="min-h-screen flex flex-col justify-center items-center bg-gray-800 py-12">
    <div class="container mx-auto py-8">
        <h1 class="text-4xl text-center text-blue-600 font-bold mb-8">Chi siamo noi?</h1>
        <div class="flex flex-wrap justify-center">
          <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 p-4">
            <div class="bg-white shadow-md rounded-lg p-6">
              <img src="pallone.jpg" alt="Autore 1" class="w-20 h-20 rounded-full mx-auto mb-4">
              <h2 class="text-64 text-gray-800 font-semibold mb-2">Luis Persichella<a href="https://www.instagram.com/luis_persichella._/" target="_blank"><i class="fab fa-instagram ml-2 text-gray-500"></i></a></h2>
              <p class="text-gray-600">Ciao, sono Luis Persichella, un ragazzo di 18 anni appassionato di blogging e calcio. Condivido le mie esperienze e la mia passione attraverso il mio blog, mentre sperimento sul campo con la palla ai piedi.</p>
            </div>
          </div>
          <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 p-4">
            <div class="bg-white shadow-md rounded-lg p-6">
              <img src="napoli.jpg" alt="Autore 1" class="w-20 h-20 rounded-full mx-auto mb-4">
              <h2 class="text-64 text-gray-800 font-semibold mb-2">Davide Perrella<a href="https://www.instagram.com/davide.perrella_/" target="_blank"><i class="fab fa-instagram ml-2 text-gray-500"></i></a></h2>
              <p class="text-gray-600">Ciao, sono Davide Perrella, un amante del blogging e del fitness. Attraverso il mio blog, condivido consigli per uno stile di vita sano, mentre nella palestra mi dedico con passione al raggiungimento dei miei obiettivi fisici.</p>
            </div>
          </div>
          <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 p-4">
            <div class="bg-white shadow-md rounded-lg p-6">
              <img src="San Siro.jpg" alt="Autore 1" class="w-20 h-20 rounded-full mx-auto mb-4">
              <h2 class="text-64 text-gray-800 font-semibold mb-2">Alberto Behar<a href="https://www.instagram.com/albe_behar/" target="_blank"><i class="fab fa-instagram ml-2 text-gray-500"></i></a></h2>
              <p class="text-gray-600">Salve, sono Alberto Behar, un blogger appassionato e un grande appassionato di basket. Nel mio blog, condivido i miei pensieri, nel campo da basket metto il mio impegno per migliorare le mie skills.</p>
            </div>
          </div>
          <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 p-4">
            <div class="bg-white shadow-md rounded-lg p-6">
              <img src="moto.jpg" alt="Autore 1" class="w-20 h-20 rounded-full mx-auto mb-4">
              <h2 class="text-64 text-gray-800 font-semibold mb-2">Alessandro Faiulo<a href="https://www.instagram.com/alessandro_faiulo/" target="_blank"><i class="fab fa-instagram ml-2 text-gray-500"></i></a></h2>
              <p class="text-gray-600">
                Ciao, sono Alessandro Faiulo, un blogger appassionato di moto e in particolare di Fantic. Attraverso il mio blog, condivido la mia passione per le due ruote e racconto le mie avventure su strada con il mio Fantic.</p>
            </div>
          </div>
        </div>
    </div>
    <div class="container mx-auto mt-16">
      <h2 class="text-3xl text-center text-blue-600 font-bold mb-4">Qualcosa in più di noi!</h2>
      <div class="flex flex-wrap items-center justify-center">
        <div class="w-full sm:w-1/2 md:w-1/2 lg:w-2/3 xl:w-2/3 p-4">
          <p class="text-gray-200 text-center">Il nostro gruppo è nato nel <strong>2023</strong> con l'obiettivo di condividere le nostre <strong>passioni</strong> e <strong>interessi</strong> attraverso il mondo dei blog. Da allora, ci siamo dedicati a creare <strong>contenuti unici e coinvolgenti</strong> su una varietà di argomenti, che spaziano dallo <strong>sport, cinema e musica.</strong> Siamo appassionati del nostro lavoro e ci impegniamo a offrire sempre il meglio ai nostri lettori. Unisciti a noi in questo straordinario viaggio e scopri di più su di noi e sulle nostre avventure!</p>
        </div>
      </div>
      <div class="flex justify-center mt-4">
        <a href="contattaci.html" class="inline-block bg-blue-600 text-white font-bold py-2 px-4 rounded-full bg-gradient-to-r from-blue-500 to-blue-700"> Contattaci! </a>
      </div>
    </div>
    
      </div>
    </div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
      <script>
        const menuButton = document.querySelector('.menu-btn');
        const mobileMenu = document.querySelector('#mobile-menu');
        const submenuButtons = document.querySelectorAll('.submenu-btn');
        const submenus = document.querySelectorAll('.submenu');
      
        menuButton.addEventListener('click', function() {
          mobileMenu.classList.toggle('hidden');
        });
      
        submenuButtons.forEach(function(button) {
          button.addEventListener('click', function() {
            const submenu = this.nextElementSibling;
            submenu.classList.toggle('hidden');
          });
        });
      
        document.addEventListener('click', function(event) {
          const target = event.target;
          const isMobileMenu = target.closest('#mobile-menu');
          const isMenuButton = target.closest('.menu-btn');
      
          if (!isMobileMenu && !isMenuButton) {
            mobileMenu.classList.add('hidden');
          }
        });
      </script>
    </body>
    </html>