---
---

<html lang="en"></html>
<head>
    <meta charset="UTF-8" />
    <script src="https://cdn.tailwindcss.com/2.2.19/tailwind.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
    <title>Articolo</title>
</head>

<body class="bg-gray-100">
    <div class="flex justify-center items-center bg-gray-800 sm:w-full md:h-full md:w-full lg:w-full">
        <a href="index.html">
            <img src="logo.jpeg" alt="logo del blog" class="h-40 w-56 my-6" />
        </a>
    </div>

    <div class="absolute top-0 right-0 mt-4 mr-4 flex-wrap justify-end flex flex-col sm:flex-row sm:items-center">
        <a href="https://www.instagram.com/cronachediresistenzaaa/" class="ml-2 sm:ml-0 mb-2 sm:mb-0">
            <i class="fab fa-instagram text-white text-lg"></i>
        </a>
        <a href="https://www.facebook.com/profile.php?id=100094044757182" class="ml-2 sm:ml-4 mb-2 sm:mb-0">
            <i class="fab fa-facebook text-white text-lg"></i>
        </a>
        <a href="https://twitter.com/Alberto2040213" class="ml-2 sm:ml-4 sm:mr-4 mb-2 sm:mb-0">
            <i class="fab fa-twitter text-white text-lg"></i>
        </a>
    </div>
    <nav class="bg-gray-300 sm:w-full lg:w-full">
        <div class="container mx-auto px-4 sm:px-6 sm:py-0 lg:px-8">
            <div class="flex items-center justify-between">
                <div class="flex-auto items-center sm:mx-auto sm:w-fit">
                    <div class="relative inline-block sm:hidden">
                        <button
                            class="menu-btn text-gray-900 hover:text-white font-semibold lg:text-lg sm:mx-auto sm:text-xs md:text-lg">
                            Menu
                            <svg class="w-4 h-4 inline-block ml-1" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path d="M6 9l6 6 6-6" />
                            </svg>
                        </button>
                        <div class="absolute hidden text-gray-900 bg-white mt-2 py-2 w-32 rounded-lg shadow-lg z-10"
                            id="mobile-menu">
                            <a href="index.html" class="block px-4 py-2 hover:bg-gray-100">Home</a>
                            <div class="group relative inline-block">
                                <button class="submenu-btn block px-4 py-2 hover:bg-gray-100">News
                                    <svg class="w-4 h-4 inline-block ml-1" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M6 9l6 6 6-6" />
                                    </svg>
                                </button>
                                <div class="absolute hidden bg-white text-gray-900 mt-2 py-2 w-32 rounded-lg shadow-lg z-10 submenu"
                                    id="news-submenu">
                                    <a href="sport.html" class="block px-4 py-2 hover:bg-gray-100">Sport</a>
                                    <a href="musica.html" class="block px-4 py-2 hover:bg-gray-100">Musica</a>
                                    <a href="cinema.html" class="block px-4 py-2 hover:bg-gray-100">Cinema</a>
                                </div>
                            </div>
                            <a href="contattaci.html" class="block px-4 py-2 hover:bg-gray-100">Contattaci</a>
                            <a href="about.html" class="block px-4 py-2 hover:bg-gray-100">About</a>
                        </div>
                    </div>
                    <div class="hidden sm:flex">
                        <a href="index.html"
                            class="mx-4 text-gray-900 hover:text-white font-semibold lg:text-lg sm:mx-auto sm:text-xs md:text-lg">Home</a>
                        <div class="group relative inline-block">
                            <button
                                class="submenu-btn mx-4 text-gray-900 hover:text-white font-semibold lg:text-lg sm:mx-auto sm:text-xs md:text-lg">News
                                <svg class="w-4 h-4 inline-block ml-1" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M6 9l6 6 6-6" />
                                </svg>
                            </button>
                            <div class="absolute hidden bg-white text-gray-900 mt-2 py-2 w-32 rounded-lg shadow-lg z-10 submenu"
                                id="news-submenu">
                                <a href="sport.html" class="block px-4 py-2 hover:bg-gray-100">Sport</a>
                                <a href="musica.html" class="block px-4 py-2 hover:bg-gray-100">Musica</a>
                                <a href="cinema.html" class="block px-4 py-2 hover:bg-gray-100">Cinema</a>
                            </div>
                        </div>
                        <a href="contattaci.html"
                            class="mx-4 text-gray-900 hover:text-white font-semibold lg:text-lg sm:mx-auto sm:text-xs md:text-lg">Contattaci</a>
                        <a href="about.html"
                            class="mx-4 text-gray-900 hover:text-white font-semibold lg:text-lg sm:mx-auto sm:text-xs md:text-lg">About</a>
                    </div>
                </div>
                <div class="flex items-center">
                    <a href="accesso.html"
                        class="bg-gray-500 text-white mr-4 hover:bg-gray-800 font-semibold my-3 py-2 px-4 rounded sm:text-xs">Log-in</a>
                    <a href="registrazione.html"
                        class="bg-blue-600 hover:bg-blue-800 text-white font-semibold my-3 py-2 px-4 rounded sm:text-xs bg-gradient-to-r from-blue-500 to-blue-700">Sign-in</a>
                </div>
            </div>
        </div>
    </nav>





    <div class="min-h-screen flex flex-col justify-center items-center bg-gray-800 py-12">
        <article class="group">
            <div class="md:w-fit lg:mx-6 bg-gray-300 rounded-lg p-6 md:mb-60">
                <h1 class="my-6 text-5xl font-bold text-gray-900">
                    Adonis è qui!
                </h1>
                <div class="flex justify-center">
                    <img alt="Creed III"
                        src="https://hips.hearstapps.com/hmg-prod/images/c3-03869-rc-1677542477.jpg?resize=980:*"
                        class="h-auto max-h-[36rem] w-full" />
                </div>
                <p class="mt-10 text-lg/relaxed text-gray-900">
                    Creed III parte dal 2002 , dall'adolescenza problematica di Adonis, fatta di emarginazione e pessime
                    compagnie
                    nonostante le premure di Mary Ann Creed (Phylicia Rashad). L'unico a cui è legato è Damian "Dame"
                    Anderson
                    (Jonathan
                    Majors), promettente pugile dilettante che gli fa da fratello maggiore. Ma il caso o la sfortuna
                    fanno
                    sì che
                    questi
                    per aver difeso una sera Adonis, finisca in carcere e allora addio ai sogni sul ring. Si rincontrano
                    dopo 18
                    anni,
                    quando il fu "Baby Creed" si è ritirato da campione di successo, è diventato un grande promoter
                    della
                    boxe
                    assieme
                    all'ex allenatore Tony Evers (Wood Harris). Dame chiede ad Adonis di dargli un'occasione per rifarsi
                    una
                    vita da
                    pugile, ma nell'anima cova un desiderio di vendetta e una rabbia incredibile nei confronti dell'ex
                    compagno di
                    gioventù, di cui Creed si accorgerà solo in un secondo momento. Intanto, il nostro eroe deve
                    vedersela
                    con le
                    responsabilità di padre, con un dialogo sempre più difficile con la moglie Bianca (Tessa Thompson) e
                    con
                    drammi
                    e
                    sensi di colpa rispuntanti dal suo tragico passato di ragazzo di strada. Arriverà l'inevitabile resa
                    dei
                    conti
                    con
                    Dame, in un match all'ultimo sangue di fronte al quale il mondo tratterrà il fiato.

                    <br>
                    Creed III parte molto bene, illuminando il passato di Adonis, su cui era sempre rimasto un velo di
                    mistero e in
                    un
                    certo senso lo rende meno borghese, meno prevedibile, meno perfetto di quanto sembrasse dopo
                    l'ultimo
                    film. Il
                    legame con la saga di Rocky è lampante, in particolare con il terzo capitolo, che ci aveva mostrato
                    lo
                    "Stallone
                    Italiano" sazio di vittorie e apparentemente senza più nulla da dare. Come in Rocky III la nuova
                    nemesi
                    viene
                    dal
                    fango, ha la cattiveria del gangster di strada, la forza del reietto infuriato con il mondo. Tutto
                    questo ci
                    arriva
                    da lui, da Jonathan Majors, il Kang di Ant-Man, autore di un'altra performance attoriale di alto
                    livello. Qual è
                    il
                    problema? Che in più di un'occasione Majors mette nei guai proprio Jordan. Sono due motori che vanno
                    a
                    velocità
                    completamente diverse e quella del protagonista è davvero troppo lenta, viene surclassato sul piano
                    dell'espressività, della credibilità, ogni volta che Majors appare, Jordan scompare. I loro
                    personaggi
                    sono
                    bianco e
                    nero, luce e tenebra, ma alla fine è il villain che amiamo di più. Adonis Creed inesorabilmente
                    diventa
                    una
                    brutta
                    copia di Balboa, ma difficilmente un giorno vedremo Jordan indotto nella International Boxing Hall
                    of
                    Fame lo
                    stesso
                    giorno di Mike Tyson.
                    <br>
                    Proprio ad Iron Mike assomiglia Dame, così come ad altri celebri pugili quali Sonny Liston, George
                    Foreman e
                    Smokin
                    Joe Frazier. Come loro è fatto di orgoglio e contrapposizione, di un'incapacità di perdonare e
                    perdonarsi, di
                    rinnegare la legge della strada e del ghetto, ma tutto questo potenziale viene sviluppato solo in
                    parte.
                    Creed
                    III
                    ripete lo stesso arcinoto schema (ma con minor epica) fatto di sessioni di allenamento metafora
                    dell'auto-miglioramento, di match rocamboleschi e frasi guerresche, abbracciando un conformismo
                    sbrigativo, con
                    un
                    finale all'acqua di rose veramente poco incisivo. Il tema del passato, dell'affrontare le proprie
                    paure,
                    diventa
                    alla lunga una prigione ripetitiva per scarsità di argomentazioni. Peccato, anche perché i due
                    protagonisti
                    offrivano tra l'altro l'occasione di parlarci della trasformazione della comunità afroamericana
                    dentro e
                    fuori
                    dal
                    ring. Invece anche questo aspetto viene accennato ma non approfondito, insistendo su dinamiche
                    personali
                    e
                    sentimentali che spesso diventano sfibranti perché sterilizzate, ovvie, accennate senza grandi
                    contenuti. E dire
                    che
                    nel primo film erano la parte più importante.

                    Di Rocky, Michael B. Jordan ha compreso solo la superficie: i dialoghi motivazionali, i muscoli, i
                    combattimenti
                    mix
                    di verità e fantasia. Si vedono anche qui i volti veri della boxe, non solo il redivivo Tony Bellew
                    ma
                    anche
                    Canelo
                    Alvarez e Terence Bud Crawford, giornalisti come Stephen A. Smith o cerimonieri come David Diamante.
                    Eppure
                    l'impressione finale è che al netto di una ricercatezza anche visiva interessante, di una volontà di
                    verosimiglianza, l'adrenalinica semantica di ciò che ben sei film sul mancino di Philadelphia ci
                    hanno
                    lasciato,
                    sia
                    stata messa da parte con le sue toccanti lezioni sulla vita. Ma in cambio di cosa? Di una copia
                    carbone.
                    Creed
                    III è
                    un tentativo tanto legittimo quanto allo stesso tempo naufragato di andare oltre quel mito, tanto
                    che
                    alla fine
                    ci
                    si ritrova a implorare almeno un cameo a sorpresa di Sly Stallone, uno che conosce così tanto bene
                    il
                    mestiere
                    da
                    poter colpire con un semplice sguardo. Qualcuno dirà che magari è perché è della vecchia scuola, ma
                    forse la
                    realtà
                    è che Rocky è sempre stata un'opera così personale, che per Creed III era un match già perso in
                    partenza
                    pensare
                    non
                    tanto di farne a meno, ma di poterne prendere il posto su basi così fragili.
                </p>
            </div> 
        </article>
    </div>
    <h2 class="white-text">Autore:Davide Perrella</h2>
</body>

</html>