<nav class="bg-gray-400 sm:w-full lg:w-full">
    <div class="container mx-auto px-4 sm:px-6 sm:py-0 lg:px-8">
        <div class="flex items-center justify-between">
            <div class="flex-auto items-center sm:mx-auto sm:w-fit">
                <div class="relative inline-block sm:hidden">
                    <button
                        class="menu-btn text-gray-900 hover:text-white font-semibold lg:text-lg sm:mx-auto sm:text-xs md:text-lg"
                    >
                        Menu
                        <svg
                            class="w-4 h-4 inline-block ml-1"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <path d="M6 9l6 6 6-6"></path>
                        </svg>
                    </button>
                    <div
                        class="absolute hidden text-gray-900 bg-white mt-2 py-2 w-32 rounded-lg shadow-lg z-10"
                        id="mobile-menu"
                    >
                        <a
                            href="index.html"
                            class="block px-4 py-2 hover:bg-gray-100"
                            >Home</a
                        >
                        <div class="group relative inline-block">
                            <button
                                class="submenu-btn block px-4 py-2 hover:bg-gray-100"
                                >News
                                <svg
                                    class="w-4 h-4 inline-block ml-1"
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                >
                                    <path d="M6 9l6 6 6-6"></path>
                                </svg>
                            </button>
                            <div
                                class="absolute hidden bg-white text-gray-900 mt-2 py-2 w-32 rounded-lg shadow-lg z-10 submenu"
                                id="news-submenu"
                            >
                                <a
                                    href="sport.html"
                                    class="block px-4 py-2 hover:bg-gray-100"
                                    >Sport</a
                                >
                                <a
                                    href="musica.html"
                                    class="block px-4 py-2 hover:bg-gray-100"
                                    >Musica</a
                                >
                                <a
                                    href="cinema.html"
                                    class="block px-4 py-2 hover:bg-gray-100"
                                    >Cinema</a
                                >
                            </div>
                        </div>
                        <a
                            href="contattaci.html"
                            class="block px-4 py-2 hover:bg-gray-100"
                            >Contattaci</a
                        >
                        <a
                            href="about.html"
                            class="block px-4 py-2 hover:bg-gray-100"
                            >About</a
                        >
                    </div>
                </div>
                <div class="hidden sm:flex">
                    <a
                        href="index.html"
                        class="mx-4 text-gray-900 hover:text-white font-semibold lg:text-lg sm:mx-auto sm:text-xs md:text-lg"
                        >Home</a
                    >
                    <div class="group relative inline-block">
                        <button
                            class="submenu-btn mx-4 text-gray-900 hover:text-white font-semibold lg:text-lg sm:mx-auto sm:text-xs md:text-lg"
                            >News
                            <svg
                                class="w-4 h-4 inline-block ml-1"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            >
                                <path d="M6 9l6 6 6-6"></path>
                            </svg>
                        </button>
                        <div
                            class="absolute hidden bg-white text-gray-900 mt-2 py-2 w-32 rounded-lg shadow-lg z-10 submenu"
                            id="news-submenu"
                        >
                            <a
                                href="sport.html"
                                class="block px-4 py-2 hover:bg-gray-100"
                                >Sport</a
                            >
                            <a
                                href="musica.html"
                                class="block px-4 py-2 hover:bg-gray-100"
                                >Musica</a
                            >
                            <a
                                href="cinema.html"
                                class="block px-4 py-2 hover:bg-gray-100"
                                >Cinema</a
                            >
                        </div>
                    </div>
                    <a
                        href="contattaci.html"
                        class="mx-4 text-gray-900 hover:text-white font-semibold lg:text-lg sm:mx-auto sm:text-xs md:text-lg"
                        >Contattaci</a
                    >
                    <a
                        href="about.html"
                        class="mx-4 text-gray-900 hover:text-white font-semibold lg:text-lg sm:mx-auto sm:text-xs md:text-lg"
                        >About</a
                    >
                </div>
            </div>
            <div class="flex items-center">
                <a
                    href="accesso.html"
                    class="bg-gray-500 text-white mr-4 hover:bg-gray-800 font-semibold my-3 py-2 px-4 rounded sm:text-xs"
                    >Log-in</a
                >
                <a
                    href="registrazione.html"
                    class="bg-blue-600 hover:bg-blue-800 text-white font-semibold my-3 py-2 px-4 rounded sm:text-xs"
                    >Sign-in</a
                >
            </div>
        </div>
    </div>
</nav>

Lazza, pseudonimo di Jacopo Lazzarini (Milano, 22 agosto 1994), è un rapper, musicista e produttore discografico italiano.

L'artista è solito fare uso del linguaggio riocontra all'interno dei propri brani, ovvero invertire le sillabe delle parole per generare rime caratteristiche.

Nel 2023 ha preso parte al Festival di Sanremo con il brano Cenere, classificandosi al secondo posto nella serata conclusiva.
Sin da ragazzo Lazza ha coltivato la passione per la musica, che lo ha portato a iniziare gli studi in pianoforte presso il liceo musicale del conservatorio Giuseppe Verdi di Milano cambiando successivamente in un liceo linguistico ma senza conseguire la maturità. Successivamente è passato nel mondo dell'hip hop, entrando nei collettivi Zero2 e Blocco Recordz. Nel 2009 ha preso parte alla manifestazione annuale di freestyle Tecniche Perfette.

Il 5 novembre 2012 è avvenuto il suo debutto discografico attraverso la pubblicazione del mixtape Destiny Mixtape, distribuito gratuitamente; nel brano Putas figura la partecipazione di Giaime. Il 29 dicembre 2014 è stata la volta di un secondo mixtape, K1 Mixtape, realizzato con la produzione di DJ Telaviv della Blocco Recordz; tale pubblicazione ha visto anche la partecipazione del rapper Emis Killa nel brano #NSSAUC. La collaborazione con quest'ultimo si è rinnovata l'anno successivo con i brani B.Rex Bestie e Bella idea, presenti in Keta Music Vol. 2.

Nel 2016 ha preso parte alla trasmissione radiofonica hip hop Real Talk Radio.] Il 12 e il 30 dicembre dello stesso anno ha reso disponibili digitalmente i singoli DDA e Super Santos Freestyle.

Zzala
Il 20 marzo 2017 Lazza ha annunciato il suo album di debutto Zzala, pubblicato il 14 aprile seguente. Rispetto ai mixtape precedenti, l'album si caratterizza per l'incrocio tra sonorità trap e l'uso del pianoforte di ispirazione classica; tra gli undici brani in esso contenuti è presente anche MOB, realizzato con la partecipazione di Nitro e Salmo. Il disco è stato promosso nell'estate 2017 attraverso due tournée, il Zzala Tour e il Zzala Winter Tour.

Nei mesi seguenti, si dedica alla produzione di brani per Ernia (Disgusting), Nitro (Passepartout) e Salmo (Lunedì). Fabri Fibra partecipa alla sua canzone Lario RMX. Inoltre, Zzala viene certificato disco d'oro così come i brani DDA, MOB mentre il brano Lario è certificato disco di platino.

Re Mida e J
Nel luglio 2018 pubblica il singolo Porto Cervo, certificato successivamente disco d'oro. Anticipato dai singoli Gucci Ski Mask (che vede la collaborazione di Gué Pequeno) e Netflix, il 1º marzo 2019 esce il suo secondo album in studio, Re Mida, che vede la collaborazione di Tedua, Izi, Fabri Fibra, Luchè, Giaime e Kaydy Cain.

L'album costituisce un'ulteriore evoluzione dello stile musicale di Lazza, che abbraccia quasi totalmente la musicalità trap. Il disco, prodotto da 333 Mob e Universal, debutta in prima posizione nella Classifica FIMI Album. Il 3 ottobre vengono commercializzati Re Mida (Aurum), riedizione dell'album originale con bonus track, e l'EP Re Mida (Piano Solo), quest'ultimo contenente alcuni brani del disco originale riarrangiati per solo pianoforte e voce. Gli album sono stati anticipati dalla pubblicazione del singolo Ouver2re.

Il 6 luglio 2020 annuncia la pubblicazione del mixtape J, uscito il 17 dello stesso mese. Il disco si compone di dieci brani in collaborazione con artisti come Capo Plaza, Thasup, Pyrex e Tony Effe del collettivo Dark Polo Gang, Gué Pequeno, Shiva, Rondodasosa, Geolier e Gemitaiz. Nello stesso anno è in tre pezzi del mixtape Bloody Vinyl 3 di DJ producer Slait, Low Kidd, Young Miles e Thasup.

Sirio e Festival di Sanremo 2023
Nel marzo 2022 viene resa ufficiale la pubblicazione dell'album Sirio, avvenuta l'8 aprile seguente. Prodotto in gran parte da Low Kidd, Drillionaire e Young Miles, contiene 17 tracce in collaborazione con rapper italiani e internazionali quali Tory Lanez, French Montana, Geolier, Sfera Ebbasta e Noyz Narcos. È stato anticipato dai singoli Ouv3rture e Molotov, resi disponibili rispettivamente il 10 e il 25 marzo. L'album ha debuttato al primo posto della classifica FIMI Album e, nella stessa settimana, la settima traccia Piove (in collaborazione con Sfera Ebbasta) si è imposta al vertice della Top Singoli.

Il 25 agosto, dopo essere stato certificato doppio disco di platino, Sirio è stato riconosciuto come l'album rimasto per più tempo in testa alla Classifica FIMI Album degli ultimi dieci anni (14 settimane), battendo il precedente record detenuto dai The Kolors con Out. A fine anno è inoltre risultato essere il più venduto in Italia.

Nel 2023 ha preso parte per la prima volta in carriera al Festival di Sanremo, durante il quale ha presentato il brano Cenere, con il quale si è classificato al secondo posto nella serata conclusiva. In occasione della serata dedicata alle cover ha interpretato La fine di Nesli insieme a Emma Marrone e Laura Marzadori.

Il 31 marzo 2023, in occasione della prima tournée nei palazzetti dell'artista, viene pubblicato il singolo Zonda.
<img src="https://cloud.radiozeta.it/radio-zeta/News/Article/600x600/lazza-ecco-tutto-cia-che-sappiamo-sul-rapper-e-producer-milanese-square-site-nxhqk.jpg"></img>